<% if ref_obj.errors.any? %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-danger-circle"></i> <strong>Error!</strong>
    <ul>
      <% ref_obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
</div>
<% end %>