
<div class="row">
  <h1> Latest Photos</h1>
  <div class="row">
    <% @photos.each do|photo| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <h4> <%=photo.tagline%> </h4>
        <img class="img-thumbnail" src="<%=photo.image.url%>" alt="Another alt text">
        Author: <a href="/userprofile/<%=photo.user.id%>"><%=photo.user.name%></a>
      </div>
    <%end%>
  </div>
</div>
