<div class="row">
	<h4>User Name: <%=@user.name%></h4>
	<h4>User EmailID: <%=@user.email%></h4>
	<h2>Albums</h2> 
</div>
<div class="row">	
<%= render'albums', albums: @albums %>
</div>
<div class="row">	
	<div class="col-lg-12 ">
		<%= will_paginate @albums %>
	</div>
</div>
